{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
  {{ super() }}

  {% block styles %}
  {{ super() }}
  <style>
    body { background: #e8f1f9; }
    .alert {
      padding: 20px;
      background-color: #f44336;
      color: white;
    }
    
    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    
    .closebtn:hover {
      color: black;
    }
  </style>
  {% endblock %}
{% endblock %}

{% block content %}

  {% if message %} 
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <strong>Warning:</strong> {{message}}
        </div>
  {%endif %}

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

        <h1 class="pt-5 pb-2">Foreign Exchange</h1>

        <p class="lead">
          Please choose the filters and currency to compare with USD
        </p>

        {{ wtf.quick_form(form) }}

        
    </div>
  </div>
</div>
<!-- <iframe srcdoc = {{plot}}> </iframe> -->

{% endblock %}